.git
**/.env
**/*.log
**/.gitignore
**/*.db

**/.pytest_cache
**/.ruff_cache
**/.venv
**/.__pycache__
**/__pycache__

**/.svelte-kit
**/build
**/node_modules

**/backend/data
data

Dockerfile
.dockerignore
.pre-commit-config.yaml
biome.jsonc
